# VirtualEnv
lib
share
include
bin
pyvenv.cfg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
__pycache__
ipython_config.py

# Extras
.DS_Store
*.log*

node_modules
dist
yarn.lock